{% extends "base_generic.html" %}
{% load custom_tags %}

{% block content %}
<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Tu reserva</span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Habitación {{ room.type|get_room_name }}</h6>
        </div>
        <span class="text-muted">{{ room.value }}€/día</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Total</span>
        <strong>{{ price }}€</strong>
      </li>
    </ul>
  </div>
  <div class="col-md-8 order-md-1">
    <h4 class="mb-3">Datos personales</h4>
    <form class="needs-validation" method="post" action="{% url 'booking-create' pk=room.code %}?{{ request.META.QUERY_STRING }}">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">Nombre</label>
          <input name="name" type="text" class="form-control" id="firstName" placeholder="Nombre" value="{{ form.name.value|default:'' }}" required="">
          {% if form.name.errors %}
          <div class="invalid-feedback d-block">
            {{ form.name.errors }}
          </div>
          {% endif %}
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Apellidos</label>
          <input name="last_name" type="text" class="form-control" id="lastName" placeholder="Apellidos" value="{{ form.last_name.value|default:'' }}" required="">
          {% if form.last_name.errors %}
          <div class="invalid-feedback d-block">
            {{ form.last_name.errors }}
          </div>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="email">Email</label>
          <input name="email" type="email" class="form-control" id="email" placeholder="you@example.com" value="{{ form.email.value|default:'' }}">
          {% if form.email.errors %}
          <div class="invalid-feedback d-block">
            {{ form.email.errors }}
          </div>
          {% endif %}
        </div>
         <div class="mb-3 col-md-6">
          <label for="email">Telefono</label>
          <input value="{{ form.phone.value|default:'' }}" name="phone" type="text" class="form-control" id="phone" placeholder="+34 123 456 789">
          {% if form.phone.errors %}
          <div class="invalid-feedback d-block">
            {{ form.phone.errors }}
          </div>
          {% endif %}
        </div>
        <div class="mb-3 col-md-12">
          <label for="email">Comentario adicional <span class="text-muted">(Opcional)</span></label>
          <textarea name="observations" class="form-control" id="exampleFormControlTextarea1" rows="3">
            {{ form.observations.value|default:'' }}
          </textarea>
        </div>
      </div>
      <hr class="mb-4">

      <h4 class="mb-3">Forma de pago</h4>

      <div class="d-block my-3">

        <div class="form-group">
          <select class="form-control" name="card_payment_type" id="exampleFormControlSelect1">
            {% for value, text in form.card_payment_type.field.choices %}
                <option {% if value == form.card_payment_type.value %} selected="" {% endif %} value="{{ value }}">{{ text }}</option>
            {% endfor %}
          </select>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="cc-name">Titular</label>
          <input value="{{ form.card_payment_holder.value|default:'' }}" name="card_payment_holder" type="text" class="form-control" id="cc-name" placeholder="" required="">
          <small class="text-muted">Nombre completo que se muestra en tarjeta</small>
          {% if form.card_payment_holder.errors %}
          <div class="invalid-feedback d-block">
            {{ form.card_payment_holder.errors }}
          </div>
          {% endif %}
        </div>
        <div class="col-md-6 mb-3">
          <label for="cc-number">Número tarjeta</label>
          <input type="text" value="{{ form.card_payment_number.value|default:'' }}" name="card_payment_number" class="form-control" id="cc-number" placeholder="" required="">
          {% if form.card_payment_number.errors %}
          <div class="invalid-feedback d-block">
            {{ form.card_payment_number.errors }}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="cc-expiration">Mes vencimiento</label>
          <select class="form-control" name="card_payment_expiration_month" required="">
            {% for i in i|rjust:12 %}
                <option value="{{ forloop.counter }}" {% if forloop.counter == form.card_payment_expiration_month.value %} selected="" {% endif %}>{{ forloop.counter }}</option>
            {% endfor %}

          </select>
          {% if form.card_payment_expiration_month.errors %}
          <div class="invalid-feedback d-block">
            {{ form.card_payment_expiration_month.errors }}
          </div>
          {% endif %}
        </div>
        <div class="col-md-4 mb-3">
          <label for="cc-expiration">Año vencimiento</label>
          <input value="{{ form.card_payment_expiration_year.value|default:'' }}" type="number" min="2019" name="card_payment_expiration_year" class="form-control" id="cc-expiration" placeholder="" required="">
          {% if form.card_payment_expiration_year.errors %}
          <div class="invalid-feedback d-block">
            {{ form.card_payment_expiration_year.errors }}
          </div>
          {% endif %}
        </div>
        <div class="col-md-4 mb-3">
          <label for="cc-cvv">CVC</label>
          <input name="card_payment_cvc" value="{{ form.card_payment_cvc.value|default:'' }}" type="number" min="000" class="form-control" id="cc-cvv" placeholder="" required="">
          {% if form.card_payment_cvc.errors %}
          <div class="invalid-feedback d-block">
            {{ form.card_payment_cvc.errors }}
          </div>
          {% endif %}
        </div>
      </div>
      <hr class="mb-4">
      <input type="hidden" name="room" value="{{ room.code }}" />
      <input type="hidden" name="check_in" value="{{ request.GET.checkin }}" />
      <input type="hidden" name="check_out" value="{{ request.GET.checkout }}" />
      <button class="btn btn-primary btn-lg btn-block" type="submit">Reservar</button>
    </form>
  </div>
</div>
{% endblock %}